<form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Ты уверен, что хочешь удалить задачу?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn">Удалить</button>
</form>
